<div class="input-field-icon-container--block input-field-icon-container--left">
  {{input value=value placeholder=placeholder class="input-field input-field--block"}}
  {{wu-icon "vi-magnifier" class="input-field__icon"}}
</div>
